:root {
  font-family: 'Inter', sans-serif;
}

.dark-mode {
  --backgroundColor: #1d1d20;
  --detailColor: #cccccc;
  --strongDetailColor: #ffffff;
  --lightDetailColor: #141416;
}

.light-mode {
  --backgroundColor: #B3B3B3;
  --detailColor: #2C2B2B;
  --strongDetailColor: #000000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 70%;
  margin: auto;
  --backgroundColor: #B3B3B3;
  --detailColor: #2C2B2B;
  --lightDetailColor: #d9d9d9;
  --strongDetailColor: #000000;
  --accentColor: #7E8F8C; /* 7E8F8C */

  background-color: var(--backgroundColor);
  color: var(--detailColor);

}

/* Navigation bar */

#navbar {
  position: fixed;
  margin: auto;
  width: 70%;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: right;
  transition: top 0.3s;
}

.navigation {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.navigation img {
    width: 2.5rem;
}

.navigation li {
  display: flex;
  align-items: space-evenly;
  margin: 0px 0px;
  list-style: none;
}

.navigation ul {
  font-size: 22px;
  user-select: none;
  margin-left: 30px;
  font-weight: 200;
}

.navigation ul:last-child a {
  color: var(--accentColor);
  font-weight: 200;
}

a {
  text-decoration: none;
  color: var(--detailColor);
}

.navigation a:hover {
  color: var(--strongDetailColor);
  transition: 0.5s;
}

nav .navigation ul ::after {
  content: '';
  width: 0%;
  height: 1px;
  background: var(--accentColor);
  display: block;
  margin: auto;
  transition: 0.4s;
}

nav .navigation ul :hover::after {
  width: 100%;
}

/* Front page */

.front-page {
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-bottom: 20vh;
}

.welcome {
  display: flex;
  flex-direction: column;
  width: min-content;
}

.welcome .title {
  width: fit-content;
  height: fit-content;
}

.title h1 {
  width: fit-content;
  font-size: 96px;
  font-weight: 200;
}

.title-description {
  width: 100%;
  height: auto;
  font-weight: 200;
  margin: 0px 0px 30px 10px;
}

#socials {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
}

#socials img {
  margin-top: 10px;
  padding-left: 20px;
}

#socials #mail-icon:hover{
  cursor: pointer;
}

#copied-snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: rgb(0, 0, 0, 0.3);
  text-align: center;
  border-radius: 5px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
}

#copied-snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}


@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

.front-page hr {
  color: var(--detailColor);
}

/* About me */
#about-me {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content:space-evenly;
}

.profile-image {
  position: relative;
  width: fit-content;
}

.profile-image img {
  top: 40px;
  left: 40px;
  aspect-ratio: 435/500;
  max-width: 100%;
  max-height: 100%;
  /* height: 500px; */
}

.profile-background {
  background-color: var(--accentColor);
  size: inherit;
  /* width: 435px;
  height: 500px; */
  position: absolute;
  top: -40px;
  left: -40px;
  z-index: -10;
}

.description {
  max-width: 600px;
  width: 100%;
  height: auto;
  font-weight: 200;
  font-size: 16px;
  margin-left: 100px;
}

.description h2 {
  color: var(--accentColor);
  font-size: 64px;
  font-weight: 200;
}

/* Projects */

#projects-page {
  height: 100vh;
  display: flex;
  align-items: center;
}

.intro-text {
  max-width: 600px; 
}

.intro-text h2{
  font-size: 64px;
  font-weight: 200;
  color: var(--accentColor);
}

.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  width: fit-content;
}

#project-carousel {
  display: flex;
  list-style: none;
  position: relative;
  justify-content: center;
  width: fit-content;
}

.project-card {
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 40px;
  width: 280px;
  height: 350px;
  border: 1px solid var(--strongDetailColor);
  border-radius: 5px;
  background-color: var(--lightDetailColor);
  /* transition: all 0.5s ease-in; */
}

.project-card:hover {
  background-color: var(--backgroundColor);
 /*  transform: translateY(-10px); */
}

/* Show only first three cards */
.project-card {
  display: none;
}

.project-card:nth-child(-n+3){
  display: flex;
}

/* Make middle card stand out */
.project-card:nth-child(2) {
  z-index: 5;
}

.project-card:nth-child(1) {
  scale: 0.9;
  transform: translateX(40px);
  filter: blur(1px);
}

.project-card:nth-child(3) {
  scale: 0.9;
  transform: translateX(-40px);
  filter: blur(1px);
}

.project-card h3 {
  margin-bottom: 10px;
  text-align: center;
  color: var(--accentColor);
  font-size: 32px;
  font-weight: 400;
}

.project-card p {
  font-weight: 100;
  font-size: 18px;
  text-align: center;
  color: var(--strongDetailColor);
}

.project-card a {
  margin-top: auto;
}

/*Media queries*/

@media screen and (max-width: 900px) {
  .title h1 {
    font-size: 70px;
  }
  .description p {
    font-size: 14px;
  }

  #projects-page {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

/* Mobile */
@media screen and (max-width: 400px) {
  .title h1 {
    font-size: 50px;
  }
  .description p {
    font-size: 12px;
  }
}
